<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.dragon.mapper.FacebookFeedPictureMapper" >
    <select id="getFacebookFeedPictureList" resultType="me.dragon.model.entity.FacebookFeedPicture">
        SELECT * FROM fb_feed_picture
    </select>

    <select id="needFbFeedPicUpdate" parameterType="java.lang.String" resultType="me.dragon.model.entity.FacebookFeedPicture">
        SELECT * FROM fb_feed_picture
        <where>
          id = #{id}
        </where>
    </select>
</mapper>